body { 
   background: #cccccc;
}

#banner {
    width:60%  ; 
    padding: 20px 0 0  20%;

}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo {
    display: inline-block;
    color: #000000;     
    font-size: 50px; 
}
.caixa {
   position: relative;
   width: 910px;
   right: 0 auto;
} 

nav{
   position: absolute;
   top: 0px;
   right: 50px;
}

nav li {
   display: inline;
   margin: 0 0 0 15px;   
}

nav a{
  text-transform: uppercase;
  color: #faf6f6;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
   text-decoration:underline;
   color: #fffb02;
   
}



.titulo-centralizado{
    padding: 0 0 25px;
    font-size: 35px;
    text-align: center;
}

#paragrafo { 
    font-size: 20px; 
    text-align: center;
    padding: 15px;
 }

 #missao { 
    text-align: center;
    font-size: 25px;
 }

em strong{
    color: #ff0000
 }

 .itens {
   
    font-size: 25px;
    font-style: italic
 }

.beneficios {
    background: #cccccc;
    padding:20px;
 }

 ul {
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    width: 20%;
    margin-right: 5%;
 }

 .imagembeneficios {
    width: 60%;
 } 

 footer {
    text-align: center;
    background: url("/Img/bg.jpg");
    padding: 35px 0;
}
.copyright {
    margin: 20px 0 0;
    color: #ffffff;
    font-size: 13px;
} 
