
header {
    
    background: url("/Img/bg.jpg");
    padding: 25px 0;
}

.caixa {
    position: relative;
    width: 910px;
    right: 0 auto;
} 

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;   
}

nav a{
   text-transform: uppercase;
   color: #faf6f6;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

nav a:hover {
    text-decoration:underline;
    color: #fffb02;
    
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 40px;
    
}

.produtos li:hover { 
    border-color: #fffb02;
    
}

.produtos li:hover h2 {
    font-size: 35px; 
    
}
 
.produtos li:active {
    
    border-color: #fffb03;
    background: #000000;
    color:#ffffff
   

}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produtos-preco {
    margin: 10px;
    font-size: 25px;
    font-weight: bold; 
}
footer {
    text-align: center;
    background: url("/Img/bg.jpg");
    padding: 40px 0;
    
}
.copyright {
    margin: 20px 0 0;
    color: #ffffff;
    font-size: 13px;
} 

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
     display: block;
     font-size: 20px;
     margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
width: 40%;
padding: 15px 0;
background:#555555;
color: #ffffff;
font-weight: bold;
font-size: 18px;
border: none;
border-radius: 5px;
transition: 2s all;
cursor: pointer;
}
.enviar:hover {
    background:darkorange ;
    transform: rotate(360DEG) scale(1.2);
}

table { 
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 10px 15px ;
   border: 1px solid #000000;
  
}